<link rel="stylesheet" type="text/css" href="/assets/client/css/css/verify-loader.css">
<div class="loader">
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
</div>

<div class="alert alert-success" style="margin-top:18px; display: none; text-align: center; font-size: 24px; position: fixed; top: 30%; left: 36%; width: 550px; height: 120px;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true" style="font-size:20px">×</span>
	</button>
	<strong>Congratulation!</strong> 
	<p>Your email is verified successfully.<p>
</div>