<link rel="stylesheet" type="text/css" href="assets/client/css/css/user.css">
<div class="wrapper">
	<a href="#" class="tribation-logo"><img src="./assets/client/images/logo.png"></a>
	<div class="site-comment">
		<p class="main-comment-p">Welcome to the Biggest Athlete <br/> &amp; Sports Social Network in <br/>The World</p>
		<p class="sub-comment-p">We are the best and biggest athlete and sports social network with 5  <br/>billion active users all around the world.</p>
	</div>
  	<div class="form signup">		
  		<div class = 'wrapper_text'>Register Now</div>
  		<div class="alert {{alert.class}}" style="margin-top:18px;" ng-show="flResponse">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true" style="font-size:20px">×</span>
			</button>
			<strong>{{alert.type}}</strong> 
			<p>{{alert.content}}<p>
		</div>
		<form class = "register-form" name="registerForm" novalidate>
			<div class="row">
				<div class="col pLeft5">
					<div class="form-group" >
						<input type="text" class="form-control required" name="username" ng-model="user.firstname" placeholder="First Name" autocomplete="off" required />
					</div>
					<span class="symbol-input100">
						<i class="icon-user icons"></i>
					</span>	
				</div>
				<div class="col pLeft5">
					<div class="form-group" >
						<input type="text" class="form-control required" name="username" ng-model="user.lastname" placeholder="Last Name" autocomplete="off" required />
					</div>
					<span class="symbol-input100">
						<i class="icon-user icons"></i>
					</span>	
				</div>
			</div>
			<div class="row">
				<div class="col pLeft5">
					<div class="form-group">
						<input type="email" class="form-control required" ng-model="user.email" name="email" placeholder="Email Address" autocomplete="off" required>
						<p class="msg" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">Email Address is not valid</p>
					</div>
					<span class="symbol-input100">
						<i class="icon-envelope icons"></i>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col pLeft5">
					<div class="form-group">
						<input type="password" class="form-control required"  id="password" ng-model="user.password" placeholder="Password" name="password" required="required" ng-minlength="6"/>
						<p class="msg" ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength">must contain at least 6 chars</p>
					</div>
					<span class="symbol-input100">
						<i class="icons icon-lock"></i>
					</span>
				</div>
				<div class="col pLeft5">
					<div class="form-group">
						<input type="password" class="form-control required"  id="confirm_password" name="confirm_password" ng-model="user.confirm_password" placeholder="Confirm password" ng-change="matchPassword()" required>
						<p class="msg" ng-show="!matchPassFlag">Confirm password didn't match</p>
					</div>
					<span class="symbol-input100">
						<i class="icons icon-lock"></i>
					</span>
				</div>
			</div>
			<div class="row">
	    		<div class="col pLeft5">
	    			<div class="form-group">
			    		<datepicker date-format="yyyy-MM-dd" selector="form-control">
							<div class="input-group">
								<input class="form-control required" placeholder="Date of Birth" class="form-control" ng-model="user.birthday" id="birthday" required/>
							</div>
						</datepicker>
					</div>
					<span class="symbol-input100">
						<i class="icons icon-calendar"></i>
					</span>
	    		</div>
	    		<div class="col pLeft5">
	    			<div class="">	    				
	    				<ul class="donate-now">
							<li>
							    <input type="radio" id="male" ng-model="user.gender" value="male" checked />
							    <label for="male">Male</label>
							</li>
							<li>
							    <input type="radio" id="female" ng-model="user.gender" value="female"/>
							    <label for="female">Female</label>
							</li>
							
							</ul>
	    			</div>
	    			<!-- <div class="form-group options">
	    				<label title="Male">
							<input type="radio" ng-model="user.gender" value="male" checked /> Male
							<img />
						</label>
						<label title="Female">
							<input type="radio" ng-model="user.gender" value="female" /> Female
							<img />
						</label>
	    			</div> -->
	    		</div>
	    	</div>
	    	<div class="row">
				<div class="col pLeft5">
					<div class="form-group" >
						<input type="text" class="form-control required" name="city" ng-model="user.city" placeholder="City" autocomplete="off" required />
					</div>
					<span class="symbol-input100">
						<i class="icon-user icons"></i>
					</span>	
				</div>
				<div class="col pLeft5">
					<div class="form-group">
						<country-select class="form-control required" name="country" validate-on="dirty" ng-model = "user.country" required-message="'Please select country.'" cs-required required>
                    	</country-select>
					</div>
					<span class="symbol-input100">
						<i class="icons icon-flag"></i>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col pLeft5">
					<div class="form-group">
						<input type="tel" class="form-control" id="telephone" name="telephone" ng-model="user.telephone" placeholder="Telephone" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col pLeft5">
					<div class="d-flex justify-content-around">
						<div id = "g-recaptcha" class="g-recaptcha" data-sitekey="6Lcn8FIUAAAAAPYWvCdhnEqZf_phmkr0a0BRB5T4" data-callback="onSuccess()">
						</div>						
					</div>
					<p id="captcha" class="msg" style="display: none;">must verify captcha</p>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" id="register-btn" class="btn-info" ng-click="signup()">Register Now</button>
				<a href="/" id="login"><p>I already have an account</p></a>
			</div>
		</form>
  	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript">
	function recaptchaCallback (e) {
		var container = document.getElementById('g-recaptcha');
		container.innerHTML = '';
		var recaptcha = document.createElement('div');
		grecaptcha.render(recaptcha, { 'sitekey': '6Lcn8FIUAAAAAPYWvCdhnEqZf_phmkr0a0BRB5T4' });
		container.appendChild(recaptcha)
	}		
</script>
<script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/v1522970272143/recaptcha__en.js" nonce=""></script>
<script src='https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit' async defer></script>
